.user-login {
  width: 400px;
  margin: 0 auto;
}

.user-login__title {
  font-size: 40px;
  color: #0abde3;
  margin-bottom: 50px;
  text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-login__form-control label {
  margin-bottom: 5px;
  color: #979797;
  font-size: 16px;
}

.user-login__form-control input {
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  height: 36px;
  padding: 5px 10px;
}

.user-login__submit-button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.err {
  background-color: rgb(109, 92, 92);
  margin: auto;
  margin-top: 5px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 1px 20px 2px rgb(136, 129, 129);
}

.ui-button {
  padding: 9px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: color 200ms;
  transition-property: background-color, color;
  border: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.ui-button--rounded {
  border-radius: 100px;
}

.ui-button--bordered-green {
  padding: 7px 10px;
  border-color: #1DD1A1;
  color: #1DD1A1;
  border: 2px solid;
}

.marg{
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 160px;
}

.mrg{
  margin-left: 700px;
}

.ui-button--bordered-green:hover {
  background-color: #1DD1A1;
  color: #fff;
}


.ui-button--contained-green {
  background-color: #1DD1A1;
  color: #fff;
}

.ui-button--contained-green:hover {
  background-color: #00b894;
  border-color: #00b894;
  color: #fff;
}
